#logo{margin-top: 0px;}
.d-flex{width: 900px;
position: relative;
left: 180px;}
#word{margin-left: 220px;
margin-top: 20px;}
#mrgn{margin-top: 20px;}

#nooo{margin-top: 56px;}
#none{margin-top: 62px;}
#mrgnn{position: relative;
bottom: 9px;}

#no{margin-top: 57px;}
#nott{margin-top: 35px
    ;}